<div class="theme theme-dark-trendy">
	<div class="bracket  disable-image">
		<div class="column one">
			<div class="match winner-bottom">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Habdib Zulqarnain</span>
					<span class="score">0</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Dhanji, Mohammed-Abbas</span>
					<span class="score">3</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match winner-bottom">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Andrew Squire</span>
					<span class="score">0</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Samuel Cole</span>
					<span class="score">3</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match winner-bottom">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Georgia Yildiz</span>
					<span class="score">1</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Rob Gilliam</span>
					<span class="score">3</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match winner-bottom">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Narj</span>
					<span class="score">0</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Ciaran McNally</span>
					<span class="score">3</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Dane</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Adam Burt</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match winner-bottom">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Ali Murad</span>
					<span class="score">0</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">David Keene</span>
					<span class="score">3</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match winner-top">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Adam Greenhill</span>
					<span class="score">3</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Aaqib Sakhi</span>
					<span class="score">2</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match winner-top">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Evan</span>
					<span class="score">3</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Mathew Robinson</span>
					<span class="score">0</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match winner-top">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Nuri Naim</span>
					<span class="score">3</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Husman Ahmed</span>
					<span class="score">0</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match winner-bottom">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Grant James</span>
					<span class="score">1</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Taha</span>
					<span class="score">3</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Adam Fennell</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Reiss Jarvis</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match winner-bottom">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Paul Davis</span>
					<span class="score">0</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Patrick Picardo</span>
					<span class="score">3</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match winner-bottom">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Kamran Iqbal</span>
					<span class="score">1</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Warwick</span>
					<span class="score">3</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Christopher Norman</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Mitesh Dhanak</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match winner-top">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Ben Lee</span>
					<span class="score">3</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Rufus Cope</span>
					<span class="score">0</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Guillaume Julien</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Rob Whitehouse</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
		</div>

		<div class="column two">
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Dhanji, Mohammed-Abbas</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Samuel Cole</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Rob Gilliam</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Ciaran McNally</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">David Keene</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Adam Greenhill</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Evan</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Nuri Naim</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Taha</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Patrick Picardo</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Warwick</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">Ben Lee</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
		</div>

		<div class="column three">
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
		</div>

		<div class="column four">
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
		</div>

		<div class="column five">
			<div class="match">
				<div class="match-top team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-bottom team">
					<span class="image"></span>
					<span class="seed">1</span>
					<span class="name">???</span>
					<span class="score">*</span>
				</div>
				<div class="match-lines">
					<div class="line one"></div>
					<div class="line two"></div>
				</div>
				<div class="match-lines alt">
					<div class="line one"></div>
				</div>
			</div>
		</div>
	</div>
</div>